<p class="header">
  <a href="https://tigoe.github.io/">tigoe.github.io</a><br />
  <a href="{{site.baseurl}}/WiFiDatalogger/">WiFi Datalogging</a> <br />
  &nbsp;&nbsp;<a href="{{site.baseurl}}/WiFiDatalogger/node-datalogging-server/">Node.js Datalogging Server</a> <br /> 
  &nbsp;&nbsp;<a href="{{site.baseurl}}/WiFiDatalogger/google-sheets-datalogger/">Google Sheets Datalogging Server</a> <br /> 
  <a href="{{site.baseurl}}/timestamps/">Tracking Time</a> <br />
  <a href="{{site.baseurl}}/mkr-datalogging/">MKR Series Datalogging</a> <br />
 
  <a href="{{site.baseurl}}">Home</a> <br /> 
</p>